.month {
  display: none;
}

.agenda-frame {
  padding-top: 100%;
}

.photos {
  background-color: #fcf6ee;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.photos-subtitle {
  margin-top: 0;
}

.carousel {
  align-self: center;
}

@media (min-width: 768px) {
  .month {
    display: block;
  }

  .agenda {
    display: none;
  }

  .photos {
    background-color: transparent;
  }

  .carousel {
    width: 80%;
  }
}
