.event-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: var(--text-prose);
}

.event-list li {
  margin: var(--space-2xl) 0;
  display: flex;
  flex-direction: column;
}

.title {
  /* display: inline-block; */
  color: var(--primary);
  font-size: var(--text-lead);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  text-align: center;
}

.event-title {
  font-size: var(--text-heading);
  margin-bottom: var(--space-xs);
}

.description p {
  margin: var(--space-md) 0;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: inline;
  font-size: var(--text-md);
  color: var(--primary-gray);
  margin: var(--space-sm) 0;
}

.meta a {
  text-decoration: underline;
}

.banner {
  max-width: 700px;
  align-self: center;
}

.tags {
  margin: var(--space-md) 0;
}

@media (min-width: 768px) {
  .container {
    padding: var(--space-2xl) var(--space-3xl);
    border: 8px solid #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: var(--white);
  }
}

@media (min-width: 1024px) {
}
