.container {
  border-top: 2px solid var(--primary);
  font-family: var(--font-header);
  font-weight: var(--semibold);
  font-size: var(--text-prose);
  padding: var(--space-2xl) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary-gray);
}

.logo {
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-4xl);
}

.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content h3 {
  margin: 0;
  color: var(--primary);
  margin-bottom: var(--space-md);
}

.misc > div {
  margin-bottom: var(--space-2xl);
}

.misc > div > ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  padding: 0;
}

.misc li {
  color: var(--black);
  width: 24px;
}

@media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    justify-content: flex-start;
    width: auto;
  }

  .logo {
    display: block;
  }
}
