.container {
  border-top: 2px solid var(--primary);
  font-family: var(--font-header);
  font-weight: var(--semibold);
  font-size: var(--text-lg);
  color: var(--primary);
  margin: var(--space-2xl) 14%;
  padding: var(--space-2xl) 0;
  text-align: right;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}
