.button {
  font-size: var(--text-2xl);
  background-color: rgba(105, 105, 105, 0.3);
  border: 1px solid var(--white);
  padding: var(--space-2xl) var(--space-3xl);
  border-radius: var(--space-xl);
  margin-top: var(--space-3xl);
}

.button:hover {
  background-color: var(--white);
}
