.container {
  width: 100%;
  max-width: var(--size-max-width);
  margin: var(--space-2xl) auto var(--space-4xl);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.container.onLeft {
  align-items: flex-start;
  text-align: end;
}

.text-container {
  padding: 0 var(--size-x-content);
}

.title {
  line-height: var(--loose);
  font-size: var(--text-lead);
  color: var(--black);
  text-align: inherit;
}

.description {
  font-size: var(--text-prose);
  line-height: var(--loose);
  margin-bottom: var(--space-3xl);
}

.link {
  font-family: var(--font-header);
  font-weight: var(--semibold);
  font-size: var(--text-prose);
  color: var(--primary);
}

.link:hover {
  text-decoration: underline;
}

.image-container {
  width: 65%;
  overflow: hidden;
  margin-bottom: -20px;
}

.image {
  width: 115%;
}

.onLeft .image {
  margin-left: -15%;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    padding-left: var(--size-x-content);
    align-items: center;
  }

  .container.onLeft {
    flex-direction: row-reverse;
    text-align: end;
    padding-left: 0;
    padding-right: var(--size-x-content);
    align-items: center;
  }

  .text-container {
    width: 35%;
    margin-right: 15%;
    padding: 0;
  }

  .image-container {
    margin-bottom: 0;
    width: 50%;
  }

  .onLeft .text-container {
    margin-right: 0;
    margin-left: 15%;
  }
}
