.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  max-height: var(--size-max-nav);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.container a {
  text-decoration: none;
}

.container a.active {
  text-decoration: underline;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  height: 60px;
}

.navigation-item {
  display: flex;
  flex-direction: column;
  font-family: var(--font-header);
  line-height: var(--dense);
  text-transform: uppercase;
}

.navigation-item:hover {
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
}

.logo-link {
  display: flex;
  font-weight: var(--semibold);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-2xl);
}

.logo-link:hover {
  text-decoration: none;
}

.logo-link:hover .subtitle {
  font-weight: var(--bold);
  color: var(--primary);
}

.title {
  font-size: var(--text-lead);
  color: var(--primary);
}

.subtitle {
  font-size: var(--text-prose);
  color: var(--primary-gray);
}

.navigation-item:hover .title,
.navigation-item:hover .subtitle {
  font-weight: var(--semibold);
}

.navigation-tube {
  display: flex;
  justify-content: center;
  height: 90%;
  padding: 0 var(--space-lg);
  color: var(--white);
  background-color: var(--primary);
}

.nav-start {
  border-radius: 50px 0 0 50px;
  padding-left: var(--space-2xl);
}

.nav-end {
  border-radius: 0 50px 50px 0;
  padding-right: var(--space-2xl);
}

.emboldened-item {
  display: flex;
  flex-direction: column;
}

.emboldened-item::after {
  content: attr(data-text) / '';
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}

@media speech {
  .navigation-tube::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .logo-link > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
