:root {
  /* primitives */
  /* font-family */
  --font-sans: Poppins, Gotham, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-serif: 'Times New Roman', Times, serif;
  --font-header: Gotham, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  /* palette */
  --white: #fff;
  --black: #000;
  --black-fade-5: rgba(0, 0, 0, 0.05);
  --primary-red: #d6586b;
  --primary-gray: #b8b8b8;

  /* radii */
  --radius-sm: 4px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;
  --space-4xl: 72px;

  /* breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 1.75;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;

  /* font-size */
  --text-xs: 0.75em;
  --text-sm: 0.875em;
  --text-md: 1em;
  --text-lg: 1.125em;
  --text-xl: 1.25em;
  --text-2xl: 1.5em;
  --text-2-5xl: 1.75em;
  --text-3xl: 2em;
  --text-4xl: 3em;
  --text-5xl: 4em;
  --text-6xl: 4.75em;

  /* tokens */
  /* colors */
  --primary: var(--primary-red);
  --background: var(--white);
  --border: var(--black-fade-5);

  /* text */
  /* color */
  --text-color: var(--black);
  /* size */
  --text-lead: var(--text-xl);
  --text-prose: var(--text-md);
  --text-title: var(--text-3xl);
  --text-hero: var(--text-4xl);
  --text-heading: var(--text-lg);

  /* tracking */
  --text-prose-tracking: -0.011em;

  /* size */
  --size-gutter: var(--space-2xl);
  --size-x-content: min(12.5%, 0.125 * var(--size-max-width));
  --size-logo: var(--space-2xl);
  --size-max-width: 100rem;
  --size-max-nav: 100px;
  --size-small-nav: 64px;
}

@media (min-width: 480px) {
  :root {
    --size-gutter: var(--space-3xl);
    --size-x-content: min(14%, 0.14 * var(--size-max-width));
  }
}

@media (min-width: 768px) {
  :root {
    --text-lead: var(--text-2-5xl);
    --text-title: var(--text-4xl);
    --text-prose-tracking: -0.014em;
    --text-prose: var(--text-lg);
    --text-heading: var(--text-xl);
  }
}

@media (min-width: 1024px) {
  :root {
    --text-lead: var(--text-3xl);
    --text-hero: var(--text-5xl);
    --text-heading: var(--text-2xl);
  }
}

@media (min-width: 1280px) {
  :root {
    --size-max-nav: 144px;
    --text-hero: var(--text-6xl);
  }
}
